AIRFLOW_UID=1000 #put a number here. 1000 refers to the user of your own folder. 50000 refers to airflow itself
AIRFLOW_FERNET_KEY=#generate a key using bash and put it here

ENV_HOST=db #put host here
ENV_USER=yourpostgresuser #put your user here
ENV_PASSWORD=examplepassword #put your password here
ENV_DATABASE=placeholdername #put your database here
ENV_PORT=5432 #put your port here

ENV_DISCORD_WEBHOOK_URL=#put your discord webhook url here and uncomment the code in run_validation.py