ENV_HOST=db #put host here
ENV_USER=yourpostgresuser #put your user here
ENV_PASSWORD=examplepassword #put your password here
ENV_DATABASE=placeholdername #put your database here

ENV_DISCORD_WEBHOOK_URL=#put your discord webhook url here and uncomment the code in run_validation.py