.git
.venv
venv
.env.local
.env.cloud
.env
env
/__pycache__
.pyc
.pyo
.pyd
.vscode
.idea
.notes
.todo
/src/*.parquet
/data
/work
.nextflow/
.nextflow.log*

dbt_project/profiles.yml